<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .jsbz{
        width: 100px;
        height: 56px;
    }
    .fx{
        color: #333;
    }
    .flo{
        float: left;
    }
</style>
<body>
<div>
    <!--顶栏-->
    <div style="height: 57px;width:100%;border-bottom: 1px solid #e7e7e7;margin-top: -10px">
        <!--简书标志-->
        <div style="float: left;margin-left: 200px;margin-top: 5px">
            <img class="jsbz" src="https://cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png">
        </div>

        <!--发现-->
        <div class="flo" style="margin-top: 23px;margin-left: 150px">
            <img src="img/find.png">
            <div class="fx" style="margin-top: -25px;margin-left: 25px">发现</div>
        </div>
        <div class="flo" style="margin-top: 23px;margin-left: 36px">
            <img src="img/guanzhu.png">
            <div class="fx" style="margin-top: -25px;margin-left: 25px">发现</div>
        </div>
        <div class="flo" style="margin-top: 23px;margin-left: 36px">
            <img src="img/xiaoxi.png">
            <div class="fx" style="margin-top: -25px;margin-left: 25px">发现</div>
        </div>
        <div class="flo" style="margin-top: 5px;margin-left: 36px">
            <img src="img/top.png">
        </div>
    </div>
    <div>
        <img style="width: 625px;height:100px;margin-top: 20px;margin-left: 145px" src="https://cdn2.jianshu.io/assets/web/seven-hot-344e8726a99ec07a8d552b33fe50be82.png"><br/>

    </div>
    <div style="float: left;">
        <div style="margin-top:20px;margin-left: 450px;border-bottom: 1px solid #e7e7e7;height: 140px;width: 620px;float: left">
            <div style="font-size: 18px;color: #333;">啦啦啦啦啦啦啦</div>
            <div style="width: 483px;color: #999;font-size: 13px;margin-top: 20px">
                <span>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦了啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦了啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦了啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦了</span>
            </div>
            <div style="float: left">
                <div style="float: left;color: #999;font-size: 13px;margin-top: 15px">作者：豆豆豆</div>
            </div>
        </div>
        <div style="float: left">
            <img src="img/tu.png" style="width: 125px;height: 125px;border-radius: 4px;margin-top: 20px;margin-left: -125px;position: absolute">
        </div>
    </div>
        <div>
            <img src="img/ce.png" style="margin-left: 1100px;margin-top: -275px">
        </div>
    </div>

</body>
</html>